# Dependencies
node_modules/

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Extension Package Archives
*.tar.gz
*.zip
*.tgz

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
